target/
.git
.gitignore
.vscode
.env.local
.DS_Store
*.log
node_modules/
dist
build
coverage
.turbo
.next
out
README.md
DOCUMENTATION.md
*.md
src/test
.mvn/wrapper
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.asc
